*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter;
color:#222;
background:white;
line-height:1.6;
}

/* NAVBAR */

.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
color:white;
font-family:Playfair Display;
font-size:20px;
}

nav a{
color:white;
text-decoration:none;
margin-left:22px;
font-size:14px;
}

nav a:hover

/* HERO */

.hero{
height:100vh;
background:url("images/hero.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
}

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.55);
}

.hero-content{
position:relative;
color:white;
padding:20px;
}

.hero h1{
font-size:52px;
font-family:Playfair Display;
margin-bottom:12px;
}

.hero p{
font-size:18px;
}

.btn{
display:inline-block;
margin-top:22px;
padding:12px 28px;
background:#d4a373;
color:white;
text-decoration:none;
border-radius:30px;
transition:0.3s;
}

.btn:hover{
transform:translateY(-3px);
}

/* SECTIONS */

.section{
padding:100px 10%;
}

h2{
font-family:Playfair Display;
font-size:34px;
margin-bottom:25px;
text-align:center;
}

/* ABOUT */

.about-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}

.about img{
width:100%;
border-radius:10px;
}

/* MENU */

.menu-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.menu-card{
background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
transition:0.3s;
}

.menu-card:hover{
transform:translateY(-8px);
}

.menu-card img{
width:100%;
height:200px;
object-fit:cover;
}

.menu-card h3{
padding:15px 15px 5px;
}

.menu-card p{
padding:0 15px 15px;
font-size:14px;
}

/* MAP */

.visit iframe{
width:100%;
height:420px;
border:0;
border-radius:10px;
}

/* CONTACT */

.contact{
text-align:center;
}

.socials{
margin-top:20px;
}

.socials a{
margin:10px;
text-decoration:none;
color:#d4a373;
font-weight:500;
}

/* FOOTER */

footer{
background:#111;
color:white;
text-align:center;
padding:30px;
}

/* MOBILE */

@media(max-width:768px){

.hero h1{
font-size:34px;
}

.about-grid{
grid-template-columns:1fr;
}

nav{
display:none;
}

}
